<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="rust.andriud"
    android:versionCode="16777475"
    android:versionName="0.1.3"
>
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30"/>
    <application android:debuggable="true" android:hasCode="false" android:label="andriud">
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="android.app.NativeActivity">
            <meta-data android:name="android.app.lib_name" android:value="andriud"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>